<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient</title>
</head>

<body>

    <h1>
        <%=patient.name%> Records:
    </h1>
    <ul>
        <li>
            <%=patient.dob%>
        </li>
        <li>
            <%=patient.vaccine%>
        </li>
        <li>
            <%=patient.firstDose%>
        </li>

        <li>
            <%if(patient.secondDose===undefined){%>
                Doesn't have the 2nd dose.

                <%}else{%>
                    <%=patient.secondDose%>
                        <% }%>

        </li>



</body>
</ul>

</html>