<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient</title>
</head>

<body>

    <h1>
        <%=patient.name%> Records:
    </h1>
    <ul>
        <li>
            Date of Birth: <%=patient.dob%>
        </li>
        <li>
            Manufacturer: <%=patient.vaccine%>
        </li>
        <li>
            Date of 1st dose: <%=patient.firstDose%>
        </li>

        <li>
            Date of 2nd Dose<%if(patient.secondDose==='undefined'){%>
                Doesn't have the 2nd dose.
                <%}else{%>
                    <%=patient.secondDose%>
                        <% }%>

        </li>

        <li>
            <%if(patient.vaccinated===true){%>
                Fully Vaccinated
                <%}%>
        </li>

    </ul>
    <a href="/patients">Back Patients</a>

</body>


</html>